@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* BArlow Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #245949;
  --secondary-color: #fff;
  --background-color: #ecece0;
  --secondary: #ecece0;
  --border-line: #989898;
  --font-family: "Playfair Display", serif;
}

body {
  font-family: var(--font-family);
  /* border: 1px solid red; */
}

.mainContent {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.5rem;

  .primaryContent {
    width: 500px;
  }

  .line {
    width: 200px;
    margin-top: 25px;
    border: 1px solid black;
  }

  h3 {
    font-weight: 500;
    font-size: 48px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #4f4f4f;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin-top: 20px;
  }

  button {
    margin-top: 30px;
  }

  img {
    margin-top: -105px;
  }
}

/* coreLayout */
.coreLayout {
  margin-top: 70px;
  text-align: center;
  /* width: 500px; */

  h4 {
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
}

/* articleSection */
.articleSection {
  margin-top: 50px;
  border: 2px solid #d2d2d2;
  border-radius: 20px;
  background-color: var(--secondary-color);
  margin: 4rem 8rem;
  box-shadow: 0 4px 20px #d2d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 3rem 0;

  .articleContainer {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }

  /* Line */
  .articleSectionLine {
    width: 65%;
    cursor: pointer;
  }
}

.articleContent {
  display: flex;
  align-items: center;
  gap: 20px;

  h5 {
    font-weight: 600;
    font-size: 25px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #525252;
  }

  .wears {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

/* IntroSection Section */
.introSection {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
    padding: 1rem 3.5rem;


  .primaryContent {
    width: 500px;
  }

  .line {
    width: 200px;
    margin-top: 12px;
    border: 1px solid black;
  }

  h3 {
    font-weight: 500;
    font-size: 40px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #4f4f4f;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin-top: 20px;
  }
}

.featuresWrapper {
  flex-direction: row;
}

.servicesBlock {
  margin-top: 90px;
  background: #ecece0;
  text-align: center;
  padding: 3rem 0;

  h3 {
    color: #245949;
    font-weight: 500;
    font-size: 40px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin-top: 20px;
  }

  button {
    margin-top: 60px;
  }
}

.team {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    padding: 0 1.5rem;

    .primaryContent {
      width: 300px;
    }

    .line {
      width: 170px;
      border: 1px solid black;
      margin-top: 15px;
    }

    h3 {
      font-size: 30px;
    }

    img {
      display: block;

      margin-top: 75px;
    }
  }

  /* coreLayout */
  .coreLayout {
    padding: 0 1.5rem;

    h4 {
      font-size: 24px;
    }

    p {
      margin-top: 20px;
      font-size: 14px;
    }
  }

  /* articleSection */
  .articleSection {
    margin: 4rem 1.5rem;
    padding: 3rem 1rem;
    .articleContainer {
      flex-direction: column;
    }

    /* Line */
    .articleSectionLine {
      display: none;
    }

    .articleContent {
      flex-direction: column;

      h5 {
        font-size: 18px;
      }

      p {
        text-align: center;
        font-size: 14px;
      }
    }

    .wears {
      align-items: center;
    }
  }

  .introSection {
    flex-direction: column-reverse;
    padding: 0 1.5rem;

    .primaryContent {
      width: 300px;
    }

    .line {
      width: 170px;
      border: 1px solid black;
      margin-top: 15px;
    }

    h3 {
      font-size: 30px;
    }

    img {
      width: 350px;
      min-height: 350px;
      display: block;
      margin-top: 30px;
    }
  }

  .featuresWrapper {
    flex-direction: column-reverse;
  }

  /* ServicesBlock */
  .servicesBlock {
    padding: 3rem 1rem;

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 14px;
    }

    .team {
      font-size: 30px;
    }

  }
}
