.btns-div button {
  padding: 12px 20px;
  border-radius: 800px;
}

.btns-div .btn-reg a {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
}

.btns-div .btn-login {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btns-div .btn-login a {
  color: var(--primary-color);
  text-decoration: none;
}

.btn-reg {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.btn-create {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Tailor List Button Page styles */
.btn-book {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px 20px;
  border-radius: 800px;
  width: 136px;
  border: none;
}

/* Previews and Next Buttons */
.paginationControls {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 5rem 1rem;

  button {
    border-radius: 4px;
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
  }

  .previewButton,
  .pageButton,
  .nextButton {
    color: #667085;
    /* background-color: #fae9e9; */
    background-color: white;
  }

  .btn1 {
    background-color: #f4e8f3;
    /* color: green; */
  }
}

/* About Page */
.btn-explore {
  padding: 12px 20px;
  border-radius: 800px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.btn-explore a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* PRODUCT LIST SIGN IN */
.clear-btn {
  background: transparent;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  padding: 10px 20px;
  color: #726c6c;
  cursor: pointer;
}

/* PRODUCT LIST PAGE */
.size-selection {
  margin-top: 20px;
}
.size-selection button {
  padding: 14px 36px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  color: #525252;
  background: #fff;
}

.product-buttons {
  margin-top: 2rem;
}

.product-buttons button {

  cursor: pointer;
}

.add-to-cart {
  padding: 17px 99px;
  border-radius: 800px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.checkout-now {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 17px 30px;
  border-radius: 800px;
  border: 1px solid #245949;
}

/* MOBILE DESIGN */
@media screen and (max-width: 768px) {
  /* Find Tailor Page */
  .paginationControls {
    padding: 1.5rem;
    flex-direction: column;
    gap: 30px;

    .previewButton,
    .nextButton {
      /* width: 280px; */
    }

    .buttonPanel {
      /* padding:  1rem ; */
      /* display: flex; */
      /* gap: 5px; */
      width: 270px;
    }
  }


  /* PRODUCT LIST PAGE */
.size-selection {
  margin-top: 30px;
}

.size-selection button {
  padding: 10px 26px;
}
}
