/* Public San */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.btns-div button {
  padding: 12px 20px;
  border-radius: 800px;
}

.btns-div .btn-reg a {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
}

.btns-div .btn-login {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btns-div .btn-login a {
  color: var(--primary-color);
  text-decoration: none;
}

.btn-reg {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.btn-create {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}


  .chatbutton {
    background: var(--primary-color);
    border: none;
    color: #fff;
      border-radius: 800px;
  }

  .bookbutton {
    background: var(--background-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
        padding: 12px 45px;
  }



/* Tailor List Button Page styles */
.btn-book {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px 20px;
  border-radius: 800px;
  width: 136px;
  border: none;
}

/* Previews and Next Buttons */
.paginationControls {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 5rem 1rem;
  cursor: pointer;

  button {
    border-radius: 4px;
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
  }

  .previewButton,
  .pageButton,
  .nextButton {
    color: #667085;
    /* background-color: #fae9e9; */
    background-color: white;
  }

  .btn1 {
    background-color: #f4e8f3;
    /* color: green; */
  }
}


.logout-btn {
  /* margin-left: 20px; */
  padding: 6px 12px;
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.logout-btn:hover {
  background-color: #e53935;
}


/* About Page */
.btn-explore {
  padding: 12px 20px;
  border-radius: 800px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.btn-explore a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* PRODUCT LIST SIGN IN */
.clear-btn {
  background: transparent;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  padding: 10px 20px;
  color: #726c6c;
  cursor: pointer;
}

/* PRODUCT LIST PAGE */
.size-selection {
  margin-top: 20px;
}
.size-selection button {
  padding: 14px 36px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  color: #525252;
  background: #fff;
}

.product-buttons {
  margin-top: 2rem;
}

.product-buttons button {
  cursor: pointer;
}

.add-to-cart {
  padding: 17px 99px;
  border-radius: 800px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.checkout-now {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px 30px;
  border-radius: 800px;
  border: 1px solid #245949;
}

/* Size Recommendation*/
.btn-block {
  display: flex;
  justify-content: end;
  margin-top: 20px;

  #open-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 17px 70px;
    border-radius: 800px;
    border: 1px solid #245949;
    cursor: pointer;
  }
}

.proceed-div {
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

.proceed-btn {
  border: 1px solid #245949;
  border-radius: 800px;
  padding: 15px 40px;
  color: #245949;
  background-color: #ecece0;
}

/* CheckOut */
.completebuttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.backBtn {
  background-color: var(#ecece0);
  color: var(--primary-color);
  padding: 17px 50px;
  border-radius: 800px;
  border: 1px solid #245949;
  cursor: pointer;
}

.comBtn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 17px 40px;
  border-radius: 800px;
  border: 1px solid #245949;
  cursor: pointer;
}

/* payment Succesful Page */
.orderview-receipt {
  margin-top: 30px;
}

.orderview-receipt a {
  text-decoration: none;
}

.orderBtn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 17px 40px;
  border-radius: 800px;
  border: 1px solid #245949;
  cursor: pointer;
}

.orderBtn a {
  color: var(--secondary-color);
}

.receiptBtn {
  background: #ecece0;
  color: var(--primary-color);
  padding: 17px 40px;
  border-radius: 800px;
  border: 1px solid #245949;
  cursor: pointer;
}

.receiptBtn a {
  color: var(--primary-color);
}

/* SIGNUP PAGE */
.signupdiv {
  button {
    border-radius: 40px;
    border: 1px solid transparent;
    font-size: 22px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    background-color: #245949;
    padding: 8px 88px;
    text-align: center;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 22px;
      font-weight: 500;
      font-family: "Manrope", sans-serif;
    }
  }

  button:hover {
    border: 1px solid #245949;
    background: white;
color: #245949;
    a {
      color: #245949;
    }
  }
}

/* SIGNUP PAGE */
.signindiv {
  button {
    border-radius: 40px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    background-color: #245949;
    padding: 8px 88px;
  }
  a {
    text-decoration: none;
    color: #fff;
  }

  button:hover {
    border: 1px solid #245949;
    background: white;
    color: #245949;


    a {
      color: #245949;
    }
  }
}

.sign-para a {
  text-decoration: underline 1px solid #666666;
  color: #666666;
}

/* signinBtn */
.signinBtn {
  border-radius: 40px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  background-color: #e4e4e4;
  padding: 12px 77px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
}

#sign-para {
  margin-top: 20px;
}

/* SendBtnDiv */
.sendBtn {
  button {
    border-radius: 40px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    background-color: #245949;
    padding: 8px 88px;
    cursor: pointer;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      font-family: "Manrope", sans-serif;
    }
  }

  button:hover {
    border: 1px solid #245949;
    background: white;

    a {
       color: #245949;
    }
  }


}

.sendBtn .sign-para {
  margin-top: 10px;
}

/* Password Reset Page */
section {
  button {
    background: #245949;
    color: #fff;
    padding: 12px 55px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
  }

  button:hover {
    border: 1px solid #245949;
    background: white;

    a {
       color: #245949;
    }
  }

}

/* MOBILE DESIGN */
@media screen and (max-width: 768px) {
  /* Find Tailor Page */
  .paginationControls {
    padding: 1.5rem;
    flex-direction: column;
    gap: 30px;

    .previewButton,
    .nextButton {
      width: 230px;
    }

    .buttonPanel {
      /* padding:  1rem ; */
      /* display: flex; */
      /* gap: 5px; */
      /* width: 270px; */
    }
  }

  /* PRODUCT LIST PAGE */
  .size-selection {
    margin-top: 30px;
  }

  .size-selection button {
    padding: 10px 26px;
  }

  /* Size Recommendation*/
  .btn-block {
    /* width: 200px; */
    flex-direction: column;
  }

  /* SIGNUP PAGE */
  .signupdiv {
    button {
      padding: 4px 24px;
      width: 100%;
    }
  }

  .signinBtn {
    width: 100%;
  }

  #sign-para {
    text-align: center;
  }

  /* SendBtnDiv */
  .sendBtn {
    button {
      padding: 8px 78px;
      cursor: pointer;
    }
  }
}
