footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  background: var(--background-color);
  padding: 2rem 3.5rem;
  cursor: pointer;

}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.content-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-col {
  display: flex;
  gap: 20px;
}
 i {
  display: flex;
  gap: 20px;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #000;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h4 {
    font-weight: 600;
    font-size: 20px;
    color: #000;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 50px;
    padding:2.5rem 1rem ;

    .rigth-content {
      flex-direction: column;
    }

  }
}
