@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #245949;
  --secondary-color: #fff;
  --background-color: #ecece0;
  font-family: "Playfair", sans-serif;
}

body {
  font-family: var(--font-family);
  /* border: 1px solid red; */
}

html,
body {
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

li a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

button {
  cursor: pointer;
}

header nav {
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.5rem;
}

.logo {
  width: 158px;
  height: 56px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btns-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shopping-cart,
.fa-solid {
  width: 40px;
  height: 40px;
}

.cart-icon {
  position: relative;
  cursor: pointer;

  .cart-badge {
    position: absolute;
    top: -7px;
    right: -10px;
    font-size: 10px;
    border: 1.5px;
    border-radius: 50%;
    padding: 5px 5px;
    background-color: #1d364d;
    color: var(--secondary-color);
    display: flex;
    align-items: end;
    justify-content: center;
    width: 10px;
    height: 10px;
    /* display: none; */
  }
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  /*  */
  display: none;
}

.avartar {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
}

.avartar .fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 40px;
}

.notification-dot {
  position: absolute;
  top: 2px;
  right: 5px;
  background-color: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid white;
}

.user-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  gap: 5px;
}

.greeting {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.username {
  font-weight: bold;
  color: #333;
}

/*btns-div */
/* .shopping-cart {
  border-radius: 25px;
  padding: 13px;
  background-color: var(--secondary-color);
} */

/* Default styles for larger screens */
.nav-links li {
  margin: 0 15px;
}

/* Hide Close button by default */
.close-btn {
  display: none;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #333;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Tailor List */
.tailorNavbar {
  background-color: var(--secondary-color);
  /* border: 2px solid red; */

  .btn-reg,
  .btn-login {
    display: none;
  }

  .shopping-cart {
    background-color: #ededed;
    padding:  5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .cart-icon {
    position: relative;
    cursor: pointer;

    .cart-badge {
      position: absolute;
      top: -7px;
      right: -10px;
      font-size: 10px;
      border: 1.5px;
      border-radius: 50%;
      padding: 5px 5px;
      background-color: #1d364d;
      color: var(--secondary-color);
      display: flex;
      align-items: end;
      justify-content: center;
      width: 10px;
      height: 10px;
      /* display: none; */
    }
  }

  .user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    /*  */
    /* display: none; */
  }

  .avartar {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
  }

  .avartar .fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 40px;
  }

  .notification-dot {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid white;
  }

  .user-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    gap: 5px;
  }

  .greeting {
    margin: 0;
    font-size: 12px;
    color: gray;
  }

  .username {
    font-weight: bold;
    color: #333;
  }
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
  header nav {
    padding: 1rem 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    width: 60%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translate(100%);
    transition: transform 0.4s ease-in-out;
    /* z-index: 999; */
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  /* show close buton when menu is open */
  .nav-links.active {
    /* display: block; */
    /* right: 0;  */
  }

  /* Show the menu when hamburger is clicked */
  .nav-links.active {
    display: flex;
    gap: 10px;
    transform: translateX(0);
  }

  .close-btn {
    position: absolute;
    top: 25px;
    font-size: 50px;
    display: none;
    cursor: pointer;
  }

  /* Hide register/login buttons on modile */
  .btns-div {
    display: none;
  }
}

/* Tailor List */
@media screen and (max-width: 768px) {
  .tailorNavbar {
    padding: 1rem;
  }
}
