@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #245949;
  --secondary-color: #fff;
  --background-color: #ecece0;
   font-family: "Inter", sans-serif;
}

body {
  /* margin: 2rem 1rem; */
  /* padding: 0rem 1rem; */
}

html,
body {
  overflow-x: hidden;
}

ul li {
  list-style: none;
}
li a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

button {
  cursor: pointer;
}

header nav {
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.5rem;
}

.logo {
  width: 158px;
  height: 56px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btns-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btns-div button {
  padding: 12px 20px;
  border-radius: 800px;
}

.btns-div .btn-reg {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

.btns-div .btn-login {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.shopping-cart, .fa-solid {
  width: 32px;
  height: 32px;
}

/* Default styles for larger screens */
.nav-links li {
  margin: 0 15px;
}

/* Hide Close button by default */
.close-btn {
  display: none;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #333;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
  body {
    margin: 1rem 0rem;
  }

  header nav {
    padding: 1rem 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 60%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border: 2px solid red; */
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  /* show close buton when menu is open */
  .nav-links.active {
    /* display: block; */
    /* right: 0;  */
  }

  /* Show the menu when hamburger is clicked */
  .nav-links.active {
    display: flex;
    gap: 10px;
  }

  .close-btn {
    /* position: absolute; */
    top: 50px;
    font-size: 50px;
  }

  /* Hide register/login buttons on modile */
  .btns-div {
    display: none;
  }
}
