@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* BArlow Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Monteserrat */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #245949;
  --secondary-color: #fff;
  --background-color: #ecece0;
  --font-family: "Playfair Display", serif;
}

body {
  font-family: var(--font-family);
  /* border: 1px solid red; */
}

/* Main Character */
main {
  /* margin-top: 50px; */
}

/* <!-- first Section --> */
.first-sec {
  display: flex;
  justify-content: space-between;
  padding: 0 3.5rem;
  margin-top: 50px;
}

.fashion {
  width: 70%;
}

.first-sec h2 {
  font-size: 36px;
  font-weight: 500;
}

.fashion p {
  width: 60%;
  margin-top: 15px;
  font-weight: 400;
  font-size: 24px;
}

.fashion button {
  padding: 12px 20px;
  border-radius: 800px;
  margin-top: 20px;
}

.first-sec img {
  width: 400px;
  height: 240px;
  object-fit: contain;
}

/* <!-- second Section --> */
.second-sec {
  margin-top: 50px;
  background: var(--background-color);
  padding: 1rem 1rem;

  /* margin: 2rem 1rem;  */

  .ratings {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  h4 {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
  }

  p {
    margin-top: 4px;
  }
}

/* top related Div */
.top-designer,
.popular-designs {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  /* margin: 4rem; */
  padding: 0 3.5rem;

  p {
    font-size: 20px;
    font-weight: 500;
  }

  a {
    font-size: 20px;
    font-weight: 500;
    border: 1px;
    border-radius: 10px;
    color: var(--primary-color);
    background: var(--background-color);
    padding: 5px 19px;
    text-decoration: none;
  }
}

.popular-designs {
  margin-top: 80px;
}

/* third-sec */
.third {
  margin-top: 50px;
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
  padding: 0 3.5rem;

  img {
    width: 100%;
    height: auto;
    display: block;

    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .left {
    padding: 0 1rem;
  }

  .designCards {
    border: 1px solid #ecece0;
    /* width: 484px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    padding-bottom: 20px;
  }

  .store {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* width: 84%; */
  }

  .store h5 {
    font-size: 13px;
    font-weight: 500;
    font-family: Playfair Display;
  }

  .storeDescription-1 {
    color: #3e3e3e;
    font-weight: 400;
    font-size: 10px;
    margin-top: 10px;
    /* width: 50%; */
  }

  .distanceInfo {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .distanceInfo p {
    font-weight: 400;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }

  .distanceInfo span {
    font-weight: 400;
    font-size: 10px;
    color: var(--primary-color);
  }

  .joblabel {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .storeDescription-2 {
    margin-top: 15px;
    font-weight: 400;
    font-size: 10px;
    color: #8c8c8c;
  }

  button {
    margin-top: 25px;
  }
}

/* border: 2px solid red; */

/* fourth Section   */
.different {
  margin-top: 60px;

  h2 {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
  }

  .tailor-work {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .rectangle {
    width: 222px;
    height: 285px;
  }

  .sewing-machine-imgage {
    width: 166px;
    height: 179px;
    position: absolute;
    top: 16%;
    left: 10.8%;
  }

  .sewing-machine {
    width: 166px;
    height: 179px;
    position: absolute;
    top: 15%;
    left: 43.8%;
  }

  .sewing-imgage {
    width: 166px;
    height: 179px;
    position: absolute;
    top: 16%;
    left: 79%;
  }

  .tailor-work h4 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    margin-top: 15px;
  }

  .tailor-work p {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;

    text-align: center;

    font-family: Open Sans;
  }
}

/* <!-- fifth Section --> */
.fifth-sec {
  margin-top: 60px;
  display: flex;
  padding: 0 3.5rem;
  justify-content: space-around;

  .popular-designers {
    border-radius: 8px;
    border: 1px solid var(--background-color);
    padding: 0 0rem 2rem 0;
  }

  .popular-designers p {
    color: #828282;
    font-weight: 500;
    font-size: 12px;
    font-family: Barlow;
    margin-top: 25px;
    margin-left: 15px;
  }

  .popular-designers h4 {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .popular-designers h5 {
    color: #828282;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 15px;
  }

  img {
    width: 400px;
    height: 382px;
    display: block;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

/* sixth-section */
.sixth-sec {
  margin-top: 90px;
  display: flex;
  /* justify-content: space-between; */
  /* margin: 4rem; */
  justify-content: center;
  /* padding: 0 3.5rem; */
  gap: 130px;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .popular-designers {
    width: 370px;
  }

  .popular-designers p {
    color: #828282;
    font-weight: 500;
    font-size: 12px;
    font-family: Montserrat;
    margin-top: 10px;
    /* width: 50%; */
  }

  .popular-designers h4 {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
  }

  .popular-designers h5 {
    color: #4f4f4f;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
  }
}

.readBtnDiv {
  text-align: center;
  margin-top: 60px;

  .readBtn a {
    text-decoration: none;
    color: #8b9467;
    cursor: pointer;
  }

  .readBtn {
    padding: 12px 20px;
    border: 1px;
    border-radius: 800px;
  }
}

/* seventh-section */
.seventh-sec {
  margin-top: 50px;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #1e1e1e;
  }

  .client-testimonial {
    margin-top: 40px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px; */
  }

  .testimonial-card {
    background-color: #8b9467;
    width: 300px;
    min-height: 300px;
    padding: 1rem;
    border-radius: 35px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .user-image {
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .testimonial-card p {
    font-weight: 600px;
    font-size: 24px;
    color: #fff;
  }

  .testimonial-card p span {
    font-weight: 500px;
    font-size: 14px;
    color: #e1e1e1;
    display: block;
  }

  .testimonial-card h6 {
    font-weight: 500px;
    font-size: 16px;
    color: #fff;
    /* margin-top: 35px; */
    line-height: 1.7;
  }

  .quote {
    position: relative;
    left: 42%;
    height: 15px;
    color: #fff;
  }

  .comment-1 {
    background: #fff;
    border: 1px solid #8b9467;
  }

  .comment2 p,
  .comment-1 h6 {
    color: #000;
  }
  .comment2 p span {
    color: #989898;
  }
}

/* Carousel Format */
.carousel {
  position: relative;
}

.carousel-content {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-controls {
  text-align: center;
  margin-top: 10px;
}

.carousel-control {
  font-size: 64px;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-control.active {
  color: #8b9467;
}

/* newsletter */
.newsletter {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .newsletterContent {
    display: flex;
    align-items: center;
    /* gap: 130px; */
  }

  h5 {
    font-weight: 500;
    color: #000;
    font-size: 28px;
  }

  input {
    color: #000;
    padding: 12px 20px;
    outline: 1px solid #ecece0;
    border: 1px solid #ecece0;
    width: 400px;
  }

  input:focus {
    border: 1px solid #ecece0;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #828282;
  }

  button {
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    border: 1px solid #ecece0;
    padding: 12px 20px;
    background-color: #ecece0;
    text-transform: uppercase;
  }
}

/* MOBILE DESIGN */
@media screen and (max-width: 768px) {
  main {
    margin-top: 30px;
  }

  /* <!-- first Section --> */
  .first-sec {
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }

  .first-sec h2 {
    font-size: 22px;
  }

  .fashion {
    width: 100%;
    padding: 0rem 1rem;
  }

  .fashion p {
    width: 100%;
    font-size: 18px;
  }

  .first-sec img {
    width: 100%;
    display: block;
    min-height: 240px;
    margin-top: 40px;
  }

  /* <!-- second Section --> */
  .second-sec {
    h4 {
      font-size: 18px;
    }

    p {
      margin-top: 8px;
    }

    .ratings {
      flex-direction: column;
      text-align: center;
      padding: 1.5rem 0rem;
      gap: 25px;
    }

    .ratings img {
      width: 30px;
      height: 30px;
    }
  }

  /* top related Div */
  .top-designer,
  .popular-designs {
    /* margin: 2rem; */
    padding: 0 1rem;

    p,
    a {
      font-size: 16px;
    }
  }

  /* <!-- third Section --> */
  /* Third */
  .third {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 20px;

    .designCards {
      width: 340px;
    }

    .cardimg {
      width: 338px;
      display: block;
    }
  }

  /* fourth Section */
  .different {
    h2 {
      font-size: 20px;
    }

    .tailor-work {
      flex-direction: column;
      gap: 40px;
    }

    .sewing-machine-imgage {
      top: 5.5%;
      left: 24%;
    }

    .rectangle-1 {
      position: relative;
      left: 10%;
    }

    .sewing-machine {
      top: 39%;
      left: 28%;
    }

    .sewing-imgage {
      top: 74%;
      left: 27%;
    }
  }

  /* <!-- fifth Section --> */
  .fifth-sec,
  .sixth-sec {
    flex-direction: column;
    padding: 1rem;
    margin-top: 70px;
    gap: 35px;

    img {
      display: block;
      width: 341px;
    }

    .popular-designers h4 {
      font-size: 16px;
    }
  }

  .fifth-sec {
    /* width: 340px; */
  }

  .sixth-sec {
    .popular-designers h5 {
      width: 350px;
    }

    img {
      display: block;
      width: 340px;
    }
  }

  .readBtnDiv {
    margin-top: 30px;
  }

  /* seventh-section */
  .seventh-sec {
    h1 {
      font-size: 24px;
    }

    .client-testimonial {
      flex-direction: column;
      gap: 50px;
    }
  }

  .carousel-control {
    font-size: 44px;
  }

  /* newsletter */
  .newsletter {
    flex-direction: column;
    gap: 20px;

    .newsletterContent {
      gap: 0;
    }

    input {
      width: 80%;
    }

    h5 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .carousel-item {
    min-width: 100%; /* Ensure full-width on mobile */
  }
}
