@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* BArlow Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #245949;
  --secondary-color: #fff;
  --background-color: #ecece0;
  --font-family: "Playfair Display", serif;
}

body {
  font-family: var(--font-family);
  /* border: 1px solid red; */
}

.product-section {
  /* padding: 1rem 3.5rem 2rem; */
  padding: 1rem 2rem 2rem;
  font-family: sans-serif;
}

.breadcrumb {
  color: #8f8f8f;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-family: Barlow;
}

.product-container {
  display: flex;
  gap: 3rem;
  /* flex-wrap: wrap; */
  /* padding: 0 3.5rem; */
}

.gallery-container {
  /* width: 100%; */
  /* max-width: 600px; */
  /* margin: auto; */
}

.main-image-wrapper {
  position: relative;
}

.product-images {
  /* flex: 1; */
  /* max-width: 400px; */
}

.main-image {
  /* width: 80%; */
  /* width: 510px; */
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
}

.thumbnail-carousel-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.thumbnail-container {
  display: flex;
  gap: 4px;
  margin-top: 10px;
  transition: transform 0.3s ease;
  will-change: trandform;
}

.thumbnail {
  /* width: 100px; */
  border: 1px solid #ccc;
  height: 80px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 5px;
}
/* #cfc7c7 */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: #cfc7c7;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 4px;
  align-items: center;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.2s;
}

.arrow:hover {
  background-color: #ddd;
}

.arrow.left,
.arrow.right {
  width: 20px;
  height: 20px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.product-details {
  /* flex: 1; */
  max-width: 80%;
  max-width: 750px;
}

.name {
  font-size: 16px;
  font-family: Barlow;
  font-weight: 400;
  color: #8f8f8f;
}

.multi {
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 400;
  color: #292929;
  padding: 0.6rem 0;
}

.priceTag {
  /* width: 500px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.old-price {
  text-decoration: line-through;
  color: #666666;
  font-family: Montserrat;
  font-family: 400;
  font-size: 18px;
  margin-right: 0.5rem;
}

.new-price {
  color: #141414;
  font-weight: 400;
  font-size: 28px;
  font-family: Montserrat;
}

.sold {
  color: #666666;
  font-family: Montserrat;
  font-family: 400;
  font-size: 20px;
}

.rating {
  color: #141414;
  font-weight: 600;
  font-size: 24px;
  font-family: Clash Grotesk;
}

.star {
  color: orange;
  font-size: 24px;
}

.dotted-line {
  border: none;
  border-top: 4px dotted #a3a3a3; /* Change color and thickness */
  margin: 20px 0;
}

.descriptionhead {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  color: #292929;
}

.description {
  margin: 1rem 0;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  color: #666666;
  line-height: 130%;
}

.label {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 400;
  color: #666666;
}

.labelMulti {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 400;
  color: #292929;
}

.color-selection {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.colors {
  display: flex;
  gap: 0.6rem;
}

.circle-border {
  width: 36px;
  height: 36px;
  border: 2px solid green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle-inner {
  width: 26px;
  height: 26px;
  background-color: red;
  border-radius: 50%;
}

.color-dot-1 {
  background: linear-gradient(to bottom, #06195c, #bcb506);
}

.color-dot-2 {
  background: #c0dded;
}

.color-dot-3 {
  background: #fede41;
}

.chatBox {
  margin-top: 20px;
  display: flex;
  align-self: center;
  gap: 1rem;
  border-radius: 57px;
  border: 2px solid #245949;
  padding: 14px 24px;
  width: 270px;
}

.chatBox p {
  color: #245949;
  font-weight: 700;
  font-size: 16px;
  font-family: Open Sans;
}

.size {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size p {
  font-size: 20px;
  font-family: Clash Grotesk;
  font-weight: 500;
  color: #525252;
}

.size p span {
  font-weight: 600;
  color: #000;
}

.request {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  color: #525252;
  text-decoration: underline;
}

.size-selection select {
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 1rem;
}

/* Rating/Review Container */
/* styles.css */

.container {
  margin-top: 40px;
  padding: 0 3.5rem;
  background-color: #fff;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.tab {
  margin-right: 20px;
  padding-bottom: 5px;
  cursor: pointer;
}
.tab.active {
  border-bottom: 3px solid #333;
  font-weight: bold;
}

.product-reviews {
  margin-top: 20px;
  /* border: 1px solid #ccc; */
  padding: 20px;
}

.product-reviewsh3 {
  color: #141414;
  font-family: Clash Grotesk;
  font-weight: 600;
  font-size: 28px;
}

.ratingContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* makes both divs the same height */
}

.rating-summary {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 2px dotted #b8b8b8;
  border-radius: 10px;
  padding: 10px 20px;
  min-height: 360px;
}

.rating-score {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid orange;
  border-radius: 50%;
  padding: 5px;
  font-size: 2em;
  margin-right: 10px;
  color: #e67300;
}

.rating-score-p {
  color: #525252;
  font-family: Clash Grotesk;
  font-weight: 600;
  font-size: 50px;
}


.reviewedComment {
  display: flex;
  align-items: center;
}

.reviewedComment p {
  color: #0B0F0E;
  font-family: Clash Grotesk;
  font-weight: 600;
  font-size: 20px;
}

.stars {
  color: #ffa439;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.bars {
  flex: 1;
  min-width: 250px;
  margin-top: 10px;
}
.bar {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.bar span {
  width: 30px;
  margin-right: 5px;
}
.bar .bar-line {
  height: 10px;
  background-color: #ccc;
  flex: 1;
  margin-right: 5px;
  position: relative;
  border-radius: 10px;
}
.bar .bar-fill {
  border-radius: 10px;
  background-color: #245949;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bar .bar-count {
  width: 50px;
  text-align: right;
  color: #0b0f0e;
  font-family: Clash Grotesk;
  font-weight: 500;
  font-size: 16px;
}

/* filterContainer */
.filterContainer {
  border-radius: 10px;
  border: 2px dotted #ccc;
  padding: 1rem;
  min-height: 360px;
}

.reviewListNames {
  font-weight: 600;
  font-size: 20px;
  font-family: Clash Grotesk;
  color: #292929;
}

.review-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}
.review-filters button {
  padding: 10px 16px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background: #faf8f8;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.allreview {
  background: #e6e6e6;
}

.review-list {
  border-top: 1px solid #ccc;
  /* padding: 0 1rem; */
}
.review {
  padding: 10px 0;
  border-bottom: 1px dotted #eee;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.review .reviewer {
  font-size: 0.9em;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.review .review-text {
  margin-top: 5px;
  color: #141414;
  font-weight: 400;
  font-size: 18px;
  font-family: Montserrat;
}

.great {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* REview */
.reviewDate {
  color: #818b9c;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
}

section {
  margin-top: 40px;
  padding: 0 3.5rem 1rem;
  display: flex;
  justify-content: space-between;

  /* img {
  width: 212px;
  height: 284px;
} */

  .we {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .star {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    /* font-size: 1.5rem; */
  }

  .sold {
    color: #666666;
    font-family: Montserrat;
    font-family: 400;
    font-size: 16px;
  }

  .rating {
    color: #0b0f0e;
    font-weight: 400;
    font-size: 18px;
    font-family: Clash Grotesk;
  }
}

.divv {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    color: #0b0f0e;
    font-weight: 400;
    font-size: 18px;
    font-family: Montserrat;
  }

  span {
    color: #828282;
    font-weight: 600;
    font-size: 16px;
    font-family: Barlow;
  }

  h6 {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    font-family: Montserrat;
  }
}

/* Related Wear */
.relatedView {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 4rem;

  p {
    font-size: 28px;
    font-weight: 600;
    color: #141414;
    font-family: Montserrat;
  }

  a {
    font-size: 20px;
    font-weight: 400;
    font-family: Barlow;
    color: #525252;

    /* padding: 5px 19px; */
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .product-section {
    padding: 1rem;
  }

  .product-container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .product-images,
  .product-details {
    max-width: 100%;
  }

  .main-image {
    width: 340px;
    display: block;
    height: 400px;
  }

  .multi {
    font-size: 28px;
  }

  .thumbnail {
    /* width: 32px; */
    /* height: 32px; */
    height: 40px;
    width: 43px;
    gap: 5px;
  }

  .ratingContainer {
    flex-direction: column;
  }

  .tabs {
    border-bottom: 1px solid transparent;
  }

  .review {
    flex-direction: column-reverse;
    gap: 0.4rem;
  }
  .review-list {
    border-top: 1px solid transparent;
  }

  .great {
    flex-direction: row;
  }

  .size {
    margin-top: 30px;
  }

  .size p {
    font-size: 16px;
  }

  .price,
  .sold,
  .description,
  .size-selection,
  .color-selection {
    font-size: 1rem;
  }

  .product-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
  }

  .product-buttons button {
    width: 90%;
    font-size: 1rem;
  }

  /* Related View */
  .relatedView {
    margin: 0rem 2rem 1rem;

    p,
    a {
      font-size: 16px;
    }
  }

  /* SECTION */
  section {
    padding: 1rem 1.9rem;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;

    .we {
      padding: 0 4.9rem;
      gap: 0.4rem;
    }

    .star {
      gap: 0.3rem;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .rating-summary {
    flex-direction: column;
    align-items: flex-start;
  }
  .tabs {
    flex-direction: column;
  }
  .dropdown {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}
