@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #245949;
  --secondary-color: #fff;
  --background-color: #ecece0;
  --secondary: #ecece0;
  --border-line: #989898;
  --font-family: "Playfair Display", serif;
}

body {
  font-family: var(--font-family);
  /* border: 1px solid red; */
}

.clothSize {
  background-color: var(--background-color);
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h3 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 34px;
  }
}

.inputDiv {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  /* margin: 2rem; */
    padding:0 3.5rem;


  .searchInput {
    border: 1px solid var(--border-line);
    border-radius: 30px;
    /* width: 500px; */
    padding: 1rem;
    display: flex;
    align-items: center;

    .fa-solid {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      fill: #888;
      display: block;
    }
  }
  input {
    border: none;
    padding: 4px 8px;
    width: 420px;
  }

  input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .location {
    border: 1px solid var(--border-line);
    border-radius: 30px;
    width: 300px;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  select {
   
    border: none;
    background-color: white;
    color: #333;
    cursor: pointer;
  }

  select:focus {
    outline: none;
    border-color: #2980b9;
  }
}

@media screen and (max-width: 768px) {
  .clothSize {
    margin: 0 1rem;
    padding: 2rem ;

    h3 {
      font-size: 24px;
    }
  }

  .inputDiv {
    flex-direction: column;
    margin:   0;
    gap: 30px;
    padding: 2rem 1rem;

    .searchInput,
    .location {
      width: 300px;
      padding: 0 1rem;
    }
  }
}
